.video-x264 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-x264 > h2 {
  color: var(--secondary);
  margin-bottom: 1.5rem;
  text-align: center;
}

.video-x264 > * {
  margin: 0.5rem 0;
}
