.video-info .card {
  --spacing: 16px;
  width: calc(100% - var(--spacing) - var(--spacing));
  margin-top: 0;
  margin-bottom: var(--spacing);
  background: var(--tertiary);
  color: var(--color-background);
}

.video-info .nested {
  padding-left: 1rem;
}
