.wrapper {
  height: var(--app-height);
  overflow: auto;
  background-color: var(--overwritable-background);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--app-height);
}
