@media (min-resolution: 2dppx) {
  .frame {
    --radius: calc(var(--frame-border-radius) * 1.6);
    --fbr: var(--radius);
  }
}

@media (max-resolution: 1.99dppx) {
  .frame {
    --radius: calc(var(--frame-border-radius) * 1.4);
    --fbr: var(--radius);
  }
}

.frame {
  -webkit-app-region: drag;

  height: var(--frame-height);
  display: flex;
  background-color: var(--color-background);
  border-radius: var(--fbr) var(--fbr) 0 0;
}

.frame .frame-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.frame .frame-title button {
  -webkit-app-region: no-drag;
}

.frame .frame-buttons {
  -webkit-app-region: no-drag;
  height: 100%;
}

.frame .frame-buttons button {
  background: none;
  color: var(--foreground);
  border: none;
  height: 100%;
  display: inline-block;
}

.frame .frame-buttons button:hover {
  background: rgba(255, 255, 255, 0.1);
}
