:root {
  --c: #6BC9FF;
  --m: #D53C9F;
  --y: #FCE54D;
  --k: #0E0B01;

  --frame-height: 30px;
  --frame-border: 1px;
  --frame-border-radius: 8px;
  --tabs-height: 48px;
  --queue-height: 2rem;
  --app-height: calc(100vh - var(--frame-height) - var(--tabs-height, '0px') - var(--queue-height));

  --font-size: 16px;

  /* MUI theme variables */
  --primary: var(--m);
  --secondary: var(--y);
  --tertiary: var(--c);
  --color-text: #eceff1;
  --color-background: var(--k);
  --font-family: 'Roboto', sans-serif;

  --overwritable-background: var(--dynamic-background, var(--color-background));
  --overwritable-corners: var(--dynamic-corners, transparent);
}

html, body {
  margin: 0;
  padding: 0;

  background: transparent;
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--font-family);
  height: 100vh;
}

#app {
  position: relative;
  /* makes border-radius work */
  transform: translateZ(0);
  border-radius: var(--frame-border-radius);
  overflow: hidden;
  height: 100vh;

  background-color: transparent;
}
/**
 * add a gradient border around the window
 * this is not compatible with border-radius so we are adding it
 * as an extra element on top of the window with disaled click events
 */
#app::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: var(--frame-border) solid;
  border-image-source: linear-gradient(var(--m) calc(var(--frame-height) + var(--tabs-height)), var(--m) 40%, var(--c));
  border-image-slice: 1;
  pointer-events: none;
  z-index: 1;
}
/**
 * make the frame area magenta, to fill in the border
 * set it behind everything else
 */
#app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--frame-height);
  background: var(--m);
  z-index: -1;
}

/**
 * add bottom corners that will only be visible
 * when the background is transparent
 */
body::before, body::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: var(--frame-border-radius);
  height: var(--frame-border-radius);

  background: var(--overwritable-corners);
}
body::before {
  left: 0;
  clip-path: path('M0 0 L0 8 L8 8 L8 7 L1 7 L1 0 Z');
}
body::after {
  right: 0;
  clip-path: path('M8 0 L8 8 L0 8 L0 7 L7 7 L7 0 Z');
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.toast .multiline {
  white-space: pre-line;
}
