:root {
  --c: #6BC9FF;
  --m: #D53C9F;
  --y: #FCE54D;
  --k: #0E0B01;

  --frame-height: 30px;
  --tab-height: 2rem;
  --font-size: 16px;

  /* MUI theme variables */
  --primary: var(--m);
  --secondary: var(--y);
  --tertiary: var(--c);
  --color-text: #eceff1;
  --color-background: var(--k);
  --font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;

  background: transparent;
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--font-family);
  min-height: 100%;
}

#app {
  /* makes border-radius work */
  transform: translateZ(0);
  border-radius: 8px;
  overflow: hidden;

  /* box-shadow: inset 0 0 0 1px var(--color-background); */
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.toast .multiline {
  white-space: pre-line;
}
