:root {
  --c: #6BC9FF;
  --m: #D53C9F;
  --y: #FCE54D;
  --k: #0E0B01;

  --frame-height: 30px;
  --frame-border: 1px;
  --frame-border-radius: 8px;
  --tabs-height: 48px;
  --queue-height: 2rem;
  --app-height: calc(100vh - var(--frame-height) - var(--tabs-height, '0px') - var(--queue-height));

  --font-size: 16px;

  /* MUI theme variables */
  --primary: var(--m);
  --secondary: var(--y);
  --tertiary: var(--c);
  --color-text: #eceff1;
  --color-background: var(--k);
  --font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;

  background: transparent;
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--font-family);
  height: 100vh;
}

#app {
  position: relative;
  /* makes border-radius work */
  transform: translateZ(0);
  border-radius: var(--frame-border-radius);
  overflow: hidden;
  height: 100vh;

  /* background-color: transparent; */
  background-color: var(--color-background);
}
#app::before {
  content: "";
  position: absolute;
  top: var(--frame-height);
  bottom: var(--queue-height);
  left: 0;
  width: var(--frame-border);
  background: linear-gradient(var(--m), var(--c));
  z-index: 100;
}
#app::after {
  content: "";
  position: absolute;
  top: var(--frame-height);
  bottom: var(--queue-height);
  right: 0;
  width: var(--frame-border);
  background: linear-gradient(var(--m), var(--c));
  z-index: 100;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.toast .multiline {
  white-space: pre-line;
}
