:root {
  --queue-height: 2rem;
}

.queue {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--queue-height);
  background: var(--tertiary);
  color: var(--color-background);
  font-size: 0.85rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  padding: 0 10px;
}
