:root {
  --queue-height: 2rem;
}

.queue {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--queue-height);
  background: green;

  display: flex;
  align-items: center;
  padding: 0 10px;
}
